# lesson 1 Data Type

In [ ]:
# clean code
# varable best way to write varable
x=3              #rong
y=4              #rong
z=2              #rong

In [ ]:
number=3                        #right
age=4                           #right
hight=2                         #right
ageOfnumber1=33                 #right
age_of_number1=33               #right

In [ ]:
# Many Values to Multiple Variables
name ,age,hight='samir',24,181
print(name)
print(age)
print(hight)

samir
24
181

In [ ]:
# One Value to Multiple Variables
orange=banana=apple='Fruit'
print(banana)

Fruit

In [ ]:
# Unpack a Collection
Fruit=['orange','banana','apple']
fruit1,fruit2,fruit3=Fruit
print(fruit1)

orange