# lesson 15 pandas part 2

In [1]:
import pandas as pd

In [2]:
data = [{'square': i**2} for i in range(10)]
d = pd.DataFrame(data)
print(d)

   square
0       0
1       1
2       4
3       9
4      16
5      25
6      36
7      49
8      64
9      81

In [3]:
# functions and columns and loop in List
data = [{'square': i**2,'cube': i**3,'root': i**0.5} for i in range(10)]
d = pd.DataFrame(data)
print(d)

   square  cube      root
0       0     0  0.000000
1       1     1  1.000000
2       4     8  1.414214
3       9    27  1.732051
4      16    64  2.000000
5      25   125  2.236068
6      36   216  2.449490
7      49   343  2.645751
8      64   512  2.828427
9      81   729  3.000000

In [4]:
# merge Two Columns in dictionary
d = pd.DataFrame([{'a':1,'b':2},{'a':3,'b':4},{'a':5,'b':6}])
print(d)

   a  b
0  1  2
1  3  4
2  5  6

In [5]:
# merge Two Columns in dictionary and NaN
d = pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4},{'d':5,'e':6}])
print(d)

     a    b    c    d    e
0  1.0  2.0  NaN  NaN  NaN
1  NaN  3.0  4.0  NaN  NaN
2  NaN  NaN  NaN  5.0  6.0

In [6]:
import numpy as np
d =pd.DataFrame(np.random.rand(3, 2),
columns=['food', 'drink'],index=['a', 'b', 'c'])
print(d)

       food     drink
a  0.893247  0.268846
b  0.492861  0.412108
c  0.412056  0.672456

In [7]:
# Calculations with columns
w = pd.Series({'a':1 ,'b':2 ,'c':3 ,'d':4 ,'e':5})
x = pd.Series({'a':6 ,'b':7 ,'c':8 ,'d':9 ,'e':10})
y = pd.Series({'a':11 ,'b':12 ,'c':13 ,'d':14 ,'e':15})
z = pd.Series({'a':16 ,'b':17 ,'c':18 ,'d':19 ,'e':20})
grades = pd.DataFrame({'Math':w,'Physics':x,'French':y,'Chemistry':z})
grades['Total'] = (grades['Math'] + grades['French'] + grades['Chemistry']+ grades['Physics']) /100
print(grades)

   Math  Physics  French  Chemistry  Total
a     1        6      11         16   0.34
b     2        7      12         17   0.38
c     3        8      13         18   0.42
d     4        9      14         19   0.46
e     5       10      15         20   0.50

In [8]:
# Calculations with columns
import numpy as np
df = pd.DataFrame(np.random.rand(5, 3), columns=['A', 'B', 'C'])
result = (df['A'] + df['B']) / (df['C'] - 1)
print(df)
print(result)

          A         B         C
0  0.643652  0.233367  0.500293
1  0.690939  0.760548  0.848348
2  0.343028  0.422969  0.769072
3  0.283864  0.928098  0.100264
4  0.286743  0.459504  0.034360
0   -1.755067
1   -9.571165
2   -3.317044
3   -1.347019
4   -0.772800
dtype: float64

In [9]:
# Calculations with columns
import numpy as np
df = pd.DataFrame(np.random.rand(5, 3), columns=['A', 'B', 'C'])
result = pd.eval("(df.A + df.B) / (df.C - 1)")
print(df)
print(result)

          A         B         C
0  0.980778  0.396335  0.491113
1  0.014305  0.586417  0.586371
2  0.126082  0.136349  0.766007
3  0.788950  0.464024  0.735821
4  0.092289  0.763840  0.819348
0   -2.706128
1   -1.452319
2   -1.121535
3   -4.742900
4   -4.739106
dtype: float64

In [10]:
# Show rows with specific conditions
import numpy as np
df = pd.DataFrame(np.random.rand(5, 3), columns=['A', 'B', 'C'])
result = df.query('A < 0.5 and B < 0.5')
print(df)
print(result)

          A         B         C
0  0.738001  0.012204  0.144451
1  0.971234  0.858815  0.582210
2  0.188228  0.461223  0.933902
3  0.746612  0.361352  0.710982
4  0.259198  0.514247  0.395274
          A         B         C
2  0.188228  0.461223  0.933902

In [11]:
# Show rows with specific conditions
import numpy as np
df = pd.DataFrame(np.random.rand(5, 3), columns=['A', 'B', 'C'])
tmp1 = df.A < 0.5
tmp2 = df.B < 0.5
tmp3 = tmp1 & tmp2
result = df[tmp3]
print(df)
print(result)

          A         B         C
0  0.056834  0.641872  0.351533
1  0.869622  0.381642  0.392833
2  0.906464  0.705275  0.450039
3  0.983573  0.318311  0.071066
4  0.637892  0.834272  0.790732
Empty DataFrame
Columns: [A, B, C]
Index: []

In [12]:
# Show rows with specific conditions
import numpy as np
df = pd.DataFrame(np.random.rand(5, 3), columns=['A', 'B', 'C'])
result = df[(df.A < 0.5) & (df.B < 0.5)]
print(df)
print(result)

          A         B         C
0  0.241706  0.056831  0.521586
1  0.251756  0.574488  0.617222
2  0.105070  0.828750  0.725307
3  0.170886  0.780748  0.675889
4  0.868818  0.700661  0.685144
          A         B         C
0  0.241706  0.056831  0.521586

In [13]:
# Show rows with specific conditions
import numpy as np
df = pd.DataFrame(np.random.rand(5, 3), columns=['A', 'B', 'C'])
result = df[(df.A < 0.5) | (df.B < 0.5)]
print(df)
print(result)

          A         B         C
0  0.877882  0.564546  0.523190
1  0.920955  0.384360  0.868824
2  0.695045  0.943585  0.179649
3  0.463616  0.565811  0.915517
4  0.974904  0.492666  0.718933
          A         B         C
1  0.920955  0.384360  0.868824
3  0.463616  0.565811  0.915517
4  0.974904  0.492666  0.718933

In [14]:
# Using function
def make_df(cols, ind):
    data = {c: [str(c) + str(i) for i in ind] for c in cols}
    return pd.DataFrame(data, ind)
print(make_df('ABC', range(3)))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [15]:
# merge
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
'group': ['Accounting', 'Engineering',
'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
'hire_date': [2004, 2008, 2012, 2014]})
print(df1)
print(df2)
df3 = pd.merge(df1, df2)
print('--------------------------')
print(df3)

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014
--------------------------
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [16]:
# merge
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
'group': ['Accounting', 'Engineering',
'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
'hire_date': [2004, 2008, 2012, 2014]})
df3 = pd.merge(df1, df2)
print(df3)
print('--------------------------')
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
'supervisor': ['Carly', 'Guido', 'Steve']})
df5 = pd.merge(df3, df4)
print(df4)
print('--------------------------')
print(df5)

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
--------------------------
         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve
--------------------------
  employee        group  hire_date supervisor
0      Bob   Accounting       2008      Carly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve

In [17]:
# merge
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
'group': ['Accounting', 'Engineering',
'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
'hire_date': [2004, 2008, 2012, 2014]})
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
'salary': [70000, 80000, 120000, 90000]})
print(df1)
print(df3)
print(pd.merge(df1, df3, left_on="employee", right_on="name"))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000
  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

In [18]:
# drop
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
'group': ['Accounting', 'Engineering',
'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
'hire_date': [2004, 2008, 2012, 2014]})
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
'salary': [70000, 80000, 120000, 90000]})
print(df1)
print(df3)
print(pd.merge(df1, df3, left_on="employee",
right_on="name").drop('name', axis=1))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000
  employee        group  salary
0      Bob   Accounting   70000
1     Jake  Engineering   80000
2     Lisa  Engineering  120000
3      Sue           HR   90000

In [19]:
# set_index
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
'group': ['Accounting', 'Engineering',
'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
'hire_date': [2004, 2008, 2012, 2014]})
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
'salary': [70000, 80000, 120000, 90000]})
print(df1)
df2 = df1.set_index('employee')
print(df2)

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR

In [20]:
# Data intersection
df1 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
'food': ['fish', 'beans', 'bread']},
columns=['name', 'food'])
df2 = pd.DataFrame({'name': ['Mary', 'Joseph'],
'drink': ['cola', '7 up']},
columns=['name', 'drink'])
print(df1)
print('-----------------------------')
print(df2)
print('-----------------------------')
df3 = pd.merge(df1, df2)
print(df3)

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread
-----------------------------
     name drink
0    Mary  cola
1  Joseph  7 up
-----------------------------
   name   food drink
0  Mary  bread  cola

In [21]:
# Data intersection
df1 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
'food': ['fish', 'beans', 'bread']},
columns=['name', 'food'])
df2 = pd.DataFrame({'name': ['Mary', 'Joseph'],
'drink': ['cola', '7 up']},
columns=['name', 'drink'])
print(df1)
print('-----------------------------')
print(df2)
print('-----------------------------')
df3 = pd.merge(df1, df2, how='inner')
print(df3)

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread
-----------------------------
     name drink
0    Mary  cola
1  Joseph  7 up
-----------------------------
   name   food drink
0  Mary  bread  cola

In [22]:
# all Row
df1 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
'food': ['fish', 'beans', 'bread']},
columns=['name', 'food'])
df2 = pd.DataFrame({'name': ['Mary', 'Joseph'],
'drink': ['cola', '7 up']},
columns=['name', 'drink'])
print(df1)
print('-----------------------------')
print(df2)
print('-----------------------------')
df3 = pd.merge(df1, df2, how='outer')
print(df3)

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread
-----------------------------
     name drink
0    Mary  cola
1  Joseph  7 up
-----------------------------
     name   food drink
0  Joseph    NaN  7 up
1    Mary  bread  cola
2    Paul  beans   NaN
3   Peter   fish   NaN

In [23]:
# merge
df1 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
'food': ['fish', 'beans', 'bread']},
columns=['name', 'food'])
df2 = pd.DataFrame({'name': ['Mary', 'Joseph'],
'drink': ['cola', '7 up']},
columns=['name', 'drink'])
print(df1)
print('-----------------------------')
print(df2)
print('-----------------------------')
df3 = pd.merge(df1, df2, how='right')
print(df3)

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread
-----------------------------
     name drink
0    Mary  cola
1  Joseph  7 up
-----------------------------
     name   food drink
0    Mary  bread  cola
1  Joseph    NaN  7 up

In [24]:
# merge
df1 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
'food': ['fish', 'beans', 'bread']},
columns=['name', 'food'])
df2 = pd.DataFrame({'name': ['Mary', 'Joseph'],
'drink': ['cola', '7 up']},
columns=['name', 'drink'])
print(df1)
print('-----------------------------')
print(df2)
print('-----------------------------')
df3 = pd.merge(df1, df2, how='left')
print(df3)

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread
-----------------------------
     name drink
0    Mary  cola
1  Joseph  7 up
-----------------------------
    name   food drink
0  Peter   fish   NaN
1   Paul  beans   NaN
2   Mary  bread  cola

In [25]:
# sum and prod and mean
import numpy as np
df = pd.DataFrame({'A': np.random.rand(10),'B': np.random.rand(10)})
print(df)
print('------------------------------')
print(df.sum())
print('------------------------------')
print(df.prod())
print('------------------------------')
print(df.mean())

          A         B
0  0.540003  0.418357
1  0.598472  0.902909
2  0.418913  0.490714
3  0.557323  0.859597
4  0.988652  0.706587
5  0.156572  0.734532
6  0.288903  0.027530
7  0.917194  0.329659
8  0.576061  0.259925
9  0.393988  0.326405
------------------------------
A    5.436082
B    5.056216
dtype: float64
------------------------------
A    0.000702
B    0.000064
dtype: float64
------------------------------
A    0.543608
B    0.505622
dtype: float64

In [26]:
# sum and prod and mean for columns
import numpy as np
df = pd.DataFrame({'A': np.random.rand(10),'B': np.random.rand(10)})
print(df)
print('------------------------------')
print(df['A'].sum())
print('------------------------------')
print(df['B'].prod())
print('------------------------------')
print(df['A'].mean())

          A         B
0  0.358189  0.937630
1  0.227597  0.191921
2  0.105747  0.700453
3  0.141737  0.929645
4  0.356721  0.608523
5  0.574529  0.989638
6  0.558984  0.260856
7  0.910234  0.802000
8  0.406793  0.039039
9  0.194489  0.072188
------------------------------
3.8350206087765795
------------------------------
4.160500889133314e-05
------------------------------
0.3835020608776579

In [27]:
# Merge column data
import numpy as np
df = pd.DataFrame({'A': np.random.rand(10),'B': np.random.rand(10)})
print(df)
print('------------------------------')
print(df.mean(axis='columns'))

          A         B
0  0.207716  0.140923
1  0.535692  0.171155
2  0.509525  0.571754
3  0.802533  0.821420
4  0.555342  0.216919
5  0.422419  0.625833
6  0.665802  0.720141
7  0.441227  0.039295
8  0.143307  0.906776
9  0.923461  0.672282
------------------------------
0    0.174319
1    0.353424
2    0.540640
3    0.811976
4    0.386131
5    0.524126
6    0.692971
7    0.240261
8    0.525041
9    0.797871
dtype: float64

In [28]:
# max and min and sum and mean and std
import numpy as np
df = pd.DataFrame({'A': np.random.rand(10),'B': np.random.rand(10)})
print(df)
print('------------------------------')
print(df.mean(axis='rows'))
print('------------------------------')
print(df.count())
print('------------------------------')
print(df.min())
print('------------------------------')
print(df.max())
print('------------------------------')
print(df.std())
print('------------------------------')

          A         B
0  0.749031  0.982175
1  0.479196  0.761684
2  0.852458  0.110946
3  0.836368  0.210575
4  0.418655  0.528203
5  0.431990  0.984838
6  0.021306  0.403770
7  0.523608  0.993255
8  0.913664  0.710626
9  0.286940  0.038348
------------------------------
A    0.551322
B    0.572442
dtype: float64
------------------------------
A    10
B    10
dtype: int64
------------------------------
A    0.021306
B    0.038348
dtype: float64
------------------------------
A    0.913664
B    0.993255
dtype: float64
------------------------------
A    0.284983
B    0.369614
dtype: float64
------------------------------

In [29]:
# Statistical data
df = pd.DataFrame({'key':['A','B','C','A','B','C'],
'data': range(6)},columns=['key', 'data'])
print(df)
print(df.describe())

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5
           data
count  6.000000
mean   2.500000
std    1.870829
min    0.000000
25%    1.250000
50%    2.500000
75%    3.750000
max    5.000000

In [30]:
# groupby and sum
df = pd.DataFrame({'key':['A','B','C','A','B','C'],
'data': range(6)},columns=['key', 'data'])
print(df)
print(df.groupby('key').sum())

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5
     data
key
A       3
B       5
C       7

In [31]:
# groupby and describe
df = pd.DataFrame({'key':['A','B','C','A','B','C'],
'data': range(6)},columns=['key', 'data'])
print(df)
print(df.groupby('key').describe())

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5
     data
    count mean      std  min   25%  50%   75%  max
key
A     2.0  1.5  2.12132  0.0  0.75  1.5  2.25  3.0
B     2.0  2.5  2.12132  1.0  1.75  2.5  3.25  4.0
C     2.0  3.5  2.12132  2.0  2.75  3.5  4.25  5.0

In [32]:
# groupby and describe and unstack
df = pd.DataFrame({'key':['A','B','C','A','B','C'],
'data': range(6)},columns=['key', 'data'])
print(df)
print(df.groupby('key').describe().unstack())

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5
             key
data  count  A      2.00000
             B      2.00000
             C      2.00000
      mean   A      1.50000
             B      2.50000
             C      3.50000
      std    A      2.12132
             B      2.12132
             C      2.12132
      min    A      0.00000
             B      1.00000
             C      2.00000
      25%    A      0.75000
             B      1.75000
             C      2.75000
      50%    A      1.50000
             B      2.50000
             C      3.50000
      75%    A      2.25000
             B      3.25000
             C      4.25000
      max    A      3.00000
             B      4.00000
             C      5.00000
dtype: float64

In [33]:
# groupby and aggregate
import numpy as np
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
'data1': range(6),
'data2': np.random.randint(0, 10, 6)},
columns = ['key', 'data1', 'data2'])
print(df)
df2 = df.groupby('key').aggregate({'data1': 'min','data2': 'max'})
print(df2)

  key  data1  data2
0   A      0      3
1   B      1      8
2   C      2      4
3   A      3      1
4   B      4      7
5   C      5      5
     data1  data2
key
A        0      3
B        1      8
C        2      5

In [34]:
# filter
import numpy as np
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
'data1': range(6),
'data2': np.random.randint(0, 10, 6)},
columns = ['key', 'data1', 'data2'])
print(df)
def filter_func(x):
    return x['data2'].std() > 4
    df2 = df.groupby('key').filter(filter_func)
print(df2)

  key  data1  data2
0   A      0      3
1   B      1      1
2   C      2      3
3   A      3      2
4   B      4      0
5   C      5      9
     data1  data2
key
A        0      3
B        1      8
C        2      5

In [35]:
# lambda
import numpy as np
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
'data1': range(6),
'data2': np.random.randint(0, 10, 6)},
columns = ['key', 'data1', 'data2'])
print(df)
df2 = df.groupby('key').transform(lambda x: x**2)
print(df2)

  key  data1  data2
0   A      0      1
1   B      1      7
2   C      2      2
3   A      3      6
4   B      4      6
5   C      5      1
   data1  data2
0      0      1
1      1     49
2      4      4
3      9     36
4     16     36
5     25      1