# lesson 2 String

In [69]:
# String
name="samir gamal"
# lenght the String
print(len(name))

11

In [70]:
# Check if "text" is present in the following text:
print('samir' in name)

True

In [71]:
# Check if "text" is NOT present in the following text:
print('abc' not in name)

True

In [72]:
# call charchter position
print(name[0])

s

In [73]:
# Slicing String
print(name[0:3])

sam

In [74]:
# Slicing String and step
print(name[0:11:2])

smrgml

In [75]:
# Remove Whitespace
name="   samir gamal    "
print(name.strip())

samir gamal

In [76]:
# Replace String
hello ="hello world"
print(hello.replace("world","people"))

hello people

In [77]:
# Merge variable
newTxt=name+hello
print(newTxt)

   samir gamal    hello world

In [78]:
# formatting strings
age =24
name="samir"
print(f"my name is {name} and my age is {age}")

my name is samir and my age is 24

In [79]:
# transform String to int
age='24'
print(int(age))

24

In [80]:
# Escape Characters 
#    \'	Single Quote
txt = 'It\'s alright.'
print(txt)

It's alright.

In [81]:
#    \\	Backslash	
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [82]:
#    \n	New Line	
txt = "This will insert one \n (backslash)."
print(txt)

This will insert one
 (backslash).

In [83]:
#    \r	Carriage Return	
txt = "This will insert one\r(backslash)."
print(txt)

(backslash).sert one

In [84]:
#    \t	Tab	
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [85]:
#    \b	Backspace	
txt = "Hello\bWorld!"
print(txt)

HellWorld!

In [86]:
#    \ooo	Octal value	
txt = "\110\145\154\154\157"
print(txt)

Hello

In [87]:
#    \xhh	Hex value
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

In [88]:
# String Methods
# capitalize()	Converts the first character to upper case
name="samir gamal"
print(name.capitalize())

Samir gamal

In [89]:
# casefold()	Converts string into lower case
name="Samir Gamal"
print(name.casefold())

samir gamal

In [90]:
# center()	Returns a centered string
txt = "banana"
print(txt.center(20))

       banana

In [91]:
# count()	Returns the number of times a specified value occurs in a string
txt = "samir gamal samir"
print(txt.count("samir"))

2

In [92]:
# encode()	Returns an encoded version of the string
txt = "my name is samir gamal"
print(txt.encode())

b'my name is samir gamal'

In [93]:
# endswith()	Returns true if the string ends with the specified value
txt = "Hello, welcome to my world."
x = txt.endswith(".")
print(x)

True

In [94]:
# expandtabs()	Sets the tab size of the string
txt = "H\te\tl\tl\to"
x =  txt.expandtabs(2)
print(x)

H e l l o

In [95]:
# find()	Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

In [96]:
# format()	Formats specified values in a string
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [97]:
# index()	Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

In [98]:
# isalnum()	Returns True if all characters in the string are alphanumeric
txt = "Company12"
x = txt.isalnum()
print(x)

True

In [99]:
# isalpha()	Returns True if all characters in the string are in the alphabet
txt = "CompanyX"
x = txt.isalpha()
print(x)

True

In [100]:
# isascii()	Returns True if all characters in the string are ascii characters
txt = "Company123"
x = txt.isascii()
print(x)

True

In [101]:
# isdecimal()	Returns True if all characters in the string are decimals
txt = "1234"
x = txt.isdecimal()
print(x)

True

In [102]:
# isdigit()	Returns True if all characters in the string are digits
txt = "50800"
x = txt.isdigit()
print(x)

True

In [103]:
# isidentifier()	Returns True if the string is an identifier
txt = "Demo"
x = txt.isidentifier()
print(x)

True

In [104]:
# islower()	Returns True if all characters in the string are lower case
txt = "hello world!"
x = txt.islower()
print(x)

True

In [105]:
# isnumeric()	Returns True if all characters in the string are numeric
txt = "565543"
x = txt.isnumeric()
print(x)

True

In [106]:
# isprintable()	Returns True if all characters in the string are printable
txt = "Hello! Are you #1?"
x = txt.isprintable()
print(x)

True

In [107]:
# isspace()	Returns True if all characters in the string are whitespaces
txt = "   "
x = txt.isspace()
print(x)

True

In [108]:
# istitle()	Returns True if the string follows the rules of a title
txt = "Hello, And Welcome To My World!"
x = txt.istitle()
print(x)

True

In [109]:
# isupper()	Returns True if all characters in the string are upper case
txt = "THIS IS NOW!"
x = txt.isupper()
print(x)

True

In [110]:
# join()	Joins the elements of an iterable to the end of the string
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

John#Peter#Vicky

In [111]:
# ljust()	Returns a left justified version of the string
txt = "banana"
x = txt.ljust(20)
print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [112]:
# lower()	Converts a string into lower case
txt = "Hello my FRIENDS"
x = txt.lower()
print(x)

hello my friends

In [113]:
# lstrip()	Returns a left trim version of the string
txt = "     banana     "
x = txt.lstrip()
print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [114]:
# maketrans()	Returns a translation table to be used in translations
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [115]:
# partition()	Returns a tuple where the string is parted into three parts
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day')

In [116]:
# replace()	Returns a string where a specified value is replaced with a specified value
txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)

I like apples

In [117]:
# rfind()	Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."
x = txt.rfind("casa")
print(x)

12

In [118]:
# rindex()	Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."
x = txt.rindex("casa")
print(x)

12

In [119]:
# rjust()	Returns a right justified version of the string
txt = "banana"
x = txt.rjust(20)
print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [120]:
# rpartition()	Returns a tuple where the string is parted into three parts
txt = "I could eat bananas all day, bananas are my favorite fruit"
x = txt.rpartition("bananas")
print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [121]:
# rsplit()	Splits the string at the specified separator, and returns a list
txt = "apple, banana, cherry"
x = txt.rsplit(", ")
print(x)

['apple', 'banana', 'cherry']

In [122]:
# rstrip()	Returns a right trim version of the string
txt = "     banana     "
x = txt.rstrip()
print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [123]:
# split()	Splits the string at the specified separator, and returns a list
txt = "welcome to the jungle"
x = txt.split()
print(x)

['welcome', 'to', 'the', 'jungle']

In [124]:
# splitlines()	Splits the string at line breaks and returns a list
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines()
print(x)

['Thank you for the music', 'Welcome to the jungle']

In [125]:
# startswith()	Returns true if the string starts with the specified value
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

True

In [126]:
# strip()	Returns a trimmed version of the string
txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [127]:
# swapcase()	Swaps cases, lower case becomes upper case and vice versa
txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)

hELLO mY nAME iS peter

In [128]:
# title()	Converts the first character of each word to upper case
txt = "Welcome to my world"
x = txt.title()
print(x)

Welcome To My World

In [129]:
# translate()	Returns a translated string
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [130]:
# upper()	Converts a string into upper case
txt = "Hello my friends"
x = txt.upper()
print(x)

HELLO MY FRIENDS

In [131]:
# zfill()	Fills the string with a specified number of 0 values at the beginning
txt = "50"
x = txt.zfill(10)
print(x)

0000000050