# lesson 4 Tuple

# tuple

In [ ]:
#  tuple
#  Create a Tuple
t=('samir','hassan','gamal','samir')
print(t)

('samir', 'hassan', 'gamal', 'samir')
(1, 2, 3, 4, 5, 6)
(1, 2, 2, 2, 3, 3, 4, 4, 5, 6, 6)
<class 'tuple'>
<class 'str'>
(1, 2, 3, 'samir', 'hassan', 'gamal', False, 3.4)
(1, 2, 3)
(2, 3, 'samir', 'hassan')
h
[1, 2, 3, 'samir', 'hassan', 'gamal', False, 3.4, 'samir']
apple
['banana', 'orange']
2
0

In [ ]:
#  Constructor
newTuple=tuple((1, 2, 3, 4, 5, 6))
print(newTuple)

In [ ]:
#  duplicate and length
newTuple1=tuple((1, 2, 2, 2, 3, 3, 4, 4, 5, 6, 6))
print(newTuple1)

In [ ]:
#  if you Create one item tuple don't forget the comma
t1=('samir',)
print(type(t1))
t2=('samir')
print(type(t2))

In [ ]:
#  tuple can carry differint data type
t3=(1,2,3,'samir','hassan','gamal',False,3.4)
print(t3)

In [ ]:
#  Slicing tuple
print(t3[0:3])
print(t3[1:5])
print(t3[4][0])

In [ ]:
#  update if need to change item or remove or delete
# tuple dont allow to chane but if you need change you can transform tuple to list
newTuple2=list(t3)
newTuple2.append('samir')
print(newTuple2)

In [ ]:
#  Unpacking a tuple & Using Asterisk*
fruits=['apple','banana','orange']
x,*z=fruits
print(x)
print(z)

In [ ]:
#  tuple Method	
#     count()	Returns the number of times a specified value occurs in a tuple
print(t.count('samir'))

In [ ]:
#     index()	Searches the tuple for a specified value and returns the position of where it was found
print(t.index('samir'))