# lesson 5 Set

#  set

In [ ]:
#  set
#  Create a Set
s={1,2,3,4,5,6,7,21,13}
print(s)

{1, 2, 3, 4, 5, 6, 7, 13, 21}
{1, 2, 3, 4, 5, 6, 7, 13, 21}
{1, 2, 3, 4, 'gamal', 'samir'}
{1, 2, 3, 4, 'samir'}
<class 'set'>
5
{1, 2, 3, 4, 5, 6, 7, 'samir', 13, 21}
{1, 2, 3, 4, 5, 6, 7, 'samir', 'gamal', 13, 21}
{1, 2, 3, 4, 5, 6, 7, 'gamal', 13, 21}
{2, 3, 4, 5, 6, 7, 'gamal', 13, 21}
{3, 4, 5, 6, 7, 'gamal', 13, 21}
set()
{1, 2, 3, 'gamal', 'samir', 'hassan'}
{1, 2, 3, 'gamal', 'samir', 'hassan'}
{'samir'}
{1, 2, 3}
{'banana', 'cherry', 'google', 'microsoft'}
{1, 2, 'gamal', 3, 'hassan'}
{1, 2, 3, 4}

In [ ]:
#  Duplicates Not
s2={1,2,3,4,5,6,7,21,2,13,4}
print(s2)

In [ ]:
#  set can carry differint data type
s3={1,2,3,4,'samir','gamal'}
print(s3)

In [ ]:
#  Constructor
s4=set((1,2,3,4,'samir'))
print(s4)
print(type(s4))

In [ ]:
#  Length 
print(len(s4))

In [ ]:
#  add
s2.add('samir')
print(s2)

In [ ]:
# update
s2.update(s3)
print(s2)

In [ ]:
#  remove
s2.remove('samir')
print(s2)

In [ ]:
# discard
s2.discard(1)
print(s2)

In [ ]:
# pop will remove a random item
s2.pop()
print(s2)

In [ ]:
# clear
s2.clear()
print(s2)

In [ ]:
#  Join Sets
#     |
setOne={1,2,3,'samir'}
setTwo={'samir','gamal','hassan'}
allSet=setOne | setTwo
print(allSet)

In [ ]:
# union
allSet=setOne.union(setTwo)
print(allSet)

In [ ]:
#     intersection()
print(setOne.intersection(setTwo))

In [ ]:
#     difference()
print(setOne.difference(setTwo))

In [ ]:
#     symmetric_difference()
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print(set1)
print(setOne.symmetric_difference(setTwo))

In [ ]:
#  how to transform list to set
l=[1,2,3,4,1,2,3]
setOfList=set(l)
print(setOfList)